.pantry h1 {
  text-align: center;
  color: var(--orange-400);
  margin: 0;
}

.addItem {
  display: flex;
  flex-direction: column;
  width: 76vw;
  margin: 0 auto var(--size-2);
}

.addItem input {
  margin: var(--spacing-2) 0;
  padding: var(--spacing-2);
  color: var(--text-normal);
  background-image: linear-gradient(to right, var(--off-white), var(--green-050));
  outline: none;
  border: none;
}

.addItem button {
  background: var(--blue-100);
  outline: none;
  border: none;
  color: var(--blue-900);
  cursor: pointer;
}

.addItem svg {
  width: 36px;
  height: 36px;
  color: var(--blue-500);
}

.items {
  margin: auto var(--size-2);
}

.items ul {
  list-style: none;
}

.items li {
  display: grid;
  grid-template-columns: 60% 25% 15%;
  align-items: center;
  /* background: var(--green-100); */
  padding: var(--spacing-1);
}

.items li p {
  font-size: 100%;
}

.items li button {
  justify-self: center;
}

.items li button svg {
  width: 36px;
  height: 36px;
  color: var(--orange-400);
}

/* FROM...https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
.checkbox {
  display: block;
  position: relative;

  overflow: hidden;
  text-overflow: ellipsis;

  border-radius: 2px;
  line-height: 2.5rem;
  padding-left: 4rem;
  cursor: pointer;
  font-size: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* On mouse-over, add a grey background color */
/* &__checkbox:hover input ~ .checkmark {
  background-color: var(--text-color);
} */

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: var(--blue-500);
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 0.8rem;
  top: 0;
  width: 0.85rem;
  height: 2rem;
  border: solid white;
  border-width: 0 5px 5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.5rem;
  width: 2.5rem;
  background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}