.landing {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.landing h1 {
  text-align: center;
}

.landing p {
  text-align: center;
}
